<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" [
        <!ENTITY reportng_css SYSTEM "src/main/resources/reportng.css">
        ]>

<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter">
            <parameter name="cssFile" value="src/main/resources/reportng.css"/>
        </listener>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/d.kuzmichev/IdeaProjects/SelenideTestingNew">
        <classes>
            <class name="UI_Tests.test.KedrCompany.KedrAluminiumSilverTest">
                <methods>
                    <include name="kedrPlasticTest"/>
                </methods>
            </class>
            <class name="UI_Tests.test.KedrCompany.KedrAluminiumSlimTest">
                <methods>
                    <include name="kedrPlasticTest"/>
                </methods>
            </class>
            <class name="UI_Tests.test.KedrCompany.KedrFacadeAluminiumTest">
                <methods>
                    <include name="kedrPlasticTest"/>
                </methods>
            </class>
            <class name="UI_Tests.test.KedrCompany.KedrFacadePlasticAndEdgeSelectTest">
                <methods>
                    <include name="kerdSelectTest"/>
                </methods>
            </class>
            <class name="UI_Tests.test.KedrCompany.KedrFacadePlasticAndEdgeTest">
                <methods>
                    <include name="kedrPlasticAndEdgeTest"/>
                </methods>
            </class>
            <class name="UI_Tests.test.KedrCompany.KedrFacadePlasticTest">
                <methods>
                    <include name="kedrPlasticTest"/>
                </methods>
            </class>
            <class name="UI_Tests.test.KedrCompany.KedrPlasticSelectsTest">
                <methods>
                    <include name="kerdSelectTest"/>
                </methods>
            </class>
            <class name="UI_Tests.test.RegLogNavFormTests.FdmFeedBackFormTest">
                <methods>
                    <include name="FdmFeedBackFormTest"/>
                </methods>
            </class>
            <class name="UI_Tests.test.RegLogNavFormTests.FdmLinksTest">
                <methods>
                    <include name="FdmLinksTest"/>
                </methods>
            </class>
            <class name="UI_Tests.test.RegLogNavFormTests.FdmLoginTest">
                <methods>
                    <include name="FdmLoginTest"/>
                </methods>
            </class>
            <class name="UI_Tests.test.RegLogNavFormTests.FdmNavigationTest">
                <methods>
                    <include name="FdmNavigationTest"/>
                </methods>
            </class>
            <class name="UI_Tests.test.RegLogNavFormTests.FdmRegistrationTest">
                <methods>
                    <include name="FdmRegistrationTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>